/* body {
    background-color: #e0c6dfff;
}
 */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* .container{
    flex: 1;
} */

/* Navbar styling */
.navbar {
  background-color: #ffffff;
  height: 5rem;
}

/* Icon styling */
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 important;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none !important;
}

/* Card Effect */
/* .card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
} */
 /* Card Hover Overlay */
.card {
  position: relative;
}

.card-img-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: opacity 0.3s ease;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* Show page image size */
.show-img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}


/* New Page button*/

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit Page */

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page  */
.show-img {
  height: 45vh;  
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}


.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right:0;
}

/* Map */
#map {
  width: 80%;
  height: 400px;
  border-radius: 10px;
}
